h1{
    color:rgb(235, 14, 87);
    margin: 0.10px ;
    padding: 9px;
}
*{
    border:solid;
}

.header{
    background-color: rgba(247, 238, 247, 0.637);
    display: flex;

    justify-content: space-between;
}

.grid{
    display: flex;
    flex-wrap: wrap;

    justify-content: space-evenly;

}

.footer{
    display: flex;
    justify-content: flex-end;
}

p,h2{
    text-align: center;
}
body{
background-color: #5d656b;
}
.menu{
    margin-right: 80px ;
}
.menu a{
margin-left: 12px;
}

a:link{
    color: rgb(231, 218, 97);
}
a:hover{
    color: rgb(36, 3, 18);
}
.item{
    position: relative;
}
.item p{
    position: absolute;
    top: 50% ;
    left: 50%;
    transform: translate(-50%,-50%);
    opacity: 0;
}
.item:hover p{
opacity: 1;
}
.item:hover img{
opacity: 0.2;
}